<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ExamPaperHub</title>
    <link rel="stylesheet" href="static/styles.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <div><a href="/" class="logo"><i class="fas fa-file-alt"></i> &nbsp; Exam Paper Hub</a></div>
        
            <label for="check" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="nav-links">
                <li><a href="/upload" id="upload-link">Upload</a></li>
                <li><a href="/browse" id="browse-link">Browse</a></li>
                <li><a href="/login" id="login-link">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
