<%- include('partials/header'); -%>
<section id="home">
    <h1>Welcome to ExamPaperHub</h1>
    <p>Your go-to platform for sharing and accessing question papers.</p>
    <a href="/browse" class="cta-button" id="get-started-button">Get Started</a>
</section>      

<section id="about">
    <h2>About Us</h2>
    <p>Welcome Vitians, your ultimate destination for accessing previous year question papers effortlessly. We understand the importance of thorough preparation, which is why we've created a seamless platform for sharing question papers based on course codes and examination types. Dive into a wealth of resources to enhance your study experience and excel in your academic pursuits. Unlock the power of past exams to unlock your future success. Start exploring now!"</p>
</section>
<%- include('partials/footer'); -%>